{% extends "layouts/layout.html" %}

{% block content %}

  <!-- Jumbotron -->
  <div class="container-fluid bg-light p-5">
    <h1 class="display-6">Hi, I'm Cesar Haro</h1>
    <img src="https://scontent-qro1-1.xx.fbcdn.net/v/t1.6435-9/58902256_2160772427303412_2892171955685818368_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeGvmTex4hSY80isS_A6d0Lx-EGpVtd5vR34QalW13m9HQADYK8EO_WIbxqxGhqo_Zzlk_t6KxZ7hbaZLIq2ztqb&_nc_ohc=qloY-dSd2vYAX8wikY5&_nc_ht=scontent-qro1-1.xx&oh=00_AT_iw0_tocz6e6Vnl4LUIXTsIVRagyNIVl1EcrxrplUjWQ&oe=636A228E" class="rounded float-start" alt="Sdrawnzsher_photo" width="250" >
    <p class="lead me-auto">Currently, SysAdmin Engineer with a passion for innovating and Improve, resolute, self-taught and motivated person with great ability to adapt to teams. I am a Teamwork person with DevOps tools like Terraform, Consul, Docker, Kubernetes, Vault, Helm, Shell scripting using Azure and AWS as Cloud platform.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/create_task" role="button">ver curriculum</a>   
  </div>
  <!-- Jumbotron --> 

{% endblock %}